<div id="shell">
  <!-- Thess sinppets of code are the header of the website, contains title, icon, and switching mode button. -->
<h1 id="header">
  <!-- Icon image and Title. -->
  <a routerLink="/customerSide">
    <img id="icon" src="https://raw.githubusercontent.com/GuangzheWen/Photos/main/R.jpg" alt="Icon">
  </a>
  
  <div id="title"> 
    <div id="storeName">
      {{ title }}
    </div>
  </div >

  <!-- Mode switching buttons. -->
  <span id="modeButton">
    <!-- Buyer mode button, change the routerlink, impact on router-outlet. -->
    <a id="buyer" class="button" routerLink="/customerSide">
        Buyer
    </a>
    <!-- Seller mode button, change the routerlink, impact on router-outlet. -->
    <a id="seller" class="button" routerLink="/host">
        Seller
    </a>
  </span>
</h1>


<!-- This area is made for the main content of our website. -->
<div id="mainBody">
  <router-outlet></router-outlet>
</div>



<!-- This area is made for showing message feedback. -->
<app-messages id="messagePad"></app-messages>
</div>