.container{
    width: 100%;
    text-align: center;
}

.container table{
    width: 90%;
    text-align: left;
}

button{
    margin: 20px;
    
    height: 40px;
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    background-color: rgba(36, 153, 231, 0.562);
    padding-left: 100px;
    padding-right: 100px;
    cursor: pointer;
}
button:hover{
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(36, 153, 231);;
}

input{
    border-radius: 5px;
    border: none;
    width:180px;
    height: 30px;
}
.container table tr{
    margin: 10px;
}
