<div class="container">
    <div *ngIf="!status">
        <form>
            <label>username:</label>
            <input [(ngModel)]="username" placeholder="username" name="username"><br>
            <label>password:</label>
            <input [(ngModel)]="password" placeholder="password" name="password"><br>
            <button (click)="login()"> Log in</button>
        </form>
    </div>
    <div *ngIf="status">
        <p>congratulations, login succeed</p>
        <app-user-details [loginUsername]="username"></app-user-details>
    </div>
</div>