<div class="container">
    <!-- pet detials -->
<div *ngIf="pet">
    <h1>Pet: "{{ pet.name }}" Details</h1>

    <div>
        <div id="left">
            <table>
                <tr>
                    <td><b>ID: &nbsp;</b></td>
                </tr>
                <tr>
                    <td>{{ pet.id }}</td>
                </tr>
                <tr>
                    <td><b>Name: &nbsp;</b></td>
                </tr>
                <tr>
                    <td>
                        {{ pet.name }}
                    </td>
                    <td>
                        <input [(ngModel)]="pet.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td><b>Category: &nbsp;</b></td>
                </tr>
                <tr>
                    <td>
                        {{ pet.category.name }}
                    </td>
                    <td>
                        <input #category [(ngModel)]="pet.category.name" placeholder="category">
                    </td>
                </tr>
                <tr>
                    <td><b>Photo Url: &nbsp;</b></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input #imgUrl [(ngModel)]="pet.photoUrls[0]" placeholder="photoUrl"> 
                    </td>
                </tr>
            </table>
        </div>
        <div id="right">
            <div id="photo">
                <img *ngIf="pet.photoUrls[0] != ''" src="{{pet.photoUrls[0]}}" alt="Seller didn't upload a photo">
                <img *ngIf="pet.photoUrls[0] == ''"  src="https://raw.githubusercontent.com/GuangzheWen/Photos/main/noPhoto.png" alt="">
            </div>
        </div>
    </div>
  

    <div>
        <button (click)="save(imgUrl.value,category.value)">Save</button>
    </div>
    
</div>
<button (click)="goBack()">Back</button>

</div>

