<div class="container">
    <!-- pet detials -->
<div *ngIf="pet">
    <h2>{{ pet.name }} Details</h2>
    <div>
        <div>
            <span>id:</span>{{ pet.id }}
        </div>
        <div>
            <span>status:</span>{{ pet.status }}
        </div>
        <div *ngIf="pet.photoUrls">
            <img src="{{ pet.photoUrls[0] }}" alt="cannot load image" >
        </div>
        <div>
            <input [(ngModel)]="pet.name" placeholder="name">
            <span>url</span>
            <input #imgUrl [(ngModel)]="pet.photoUrls[0]" placeholder="photoUrl"> 
            <span>category</span>
            <input #category [(ngModel)]="pet.category.name" placeholder="category">
        </div>
    </div>


    <button (click)="save(imgUrl.value,category.value)">save</button>
</div>
<button (click)="goBack()">go back</button>

</div>

