/* You can add global styles to this file, and also import other style files */
.container {
    border: 1px gray solid;
    border-radius: 5px;
    background-color: rgb(243, 242, 242);
    margin: 20px;
    padding: 20px;
}

.button {
    border: 1px gray solid;
    border-radius: 2px;
    background-color: rgb(243, 242, 242);
}

img {
    height: 100px;
    width: auto;
    aspect-ratio:initial;
}

